language: python
python:
    - "2.7"
env:
    global:
        - secure: "VTXK/Lmi8DCoKIvg82QwlBtudV1XIRYjQbREew/ysCuvTlfp1mouZgvQQW8g\nYFNS3Ah1KTDD2qC0iZiYa7pvghlzP43M2VYr3iUxrRfiDEEIMX0jw3/n1+Sr\nWRdywivNMHhfYsEzEorW3mlwq3OmbBf4EG/UgX8c23GmW7MnwcQ="
    matrix:
        - TEST_TYPE=docs
        - TEST_TYPE=flake8
        - TEST_TYPE=own
        - TEST_TYPE=translate
        - TEST_TYPE=translate-jit
#         - TEST_TYPE=rubyspec_untranslated
install:
    - pip install requests invoke
    - invoke travis.install_requirements
script: invoke travis.run_tests
after_success: invoke travis.upload_build
notifications:
    irc: "irc.freenode.org#topaz"
